<!doctype html>
<html lang="en">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	
	
</head>
<body>

<img id="img" src="http://www.maylark.com.s3.amazonaws.com/plan.jpg"  />

<code id="result">
	
</code>
<script>
// the the click/tap handler to minimize the large image 
var img = document.getElementById('img');
if (img){
  img.addEventListener('click', function(e) {
	  
	  // wilson museum: , -68.8061423421863
	  // 860, 5496
	  
	  
	  //red roof: , -68.79282825647506
	  // 6066, 1172
  	var x = e.offsetX;
	var y = e.offsetY;
	
	var x_fraction = (x - 860) / (6066-860);
	var y_fraction = (y - 5496) / (1172 - 5496)
	
	gps_x = 44.38395270602716 + y_fraction * (44.39186303240705 - 44.38395270602716);
	gps_y = -68.8061423421863 + x_fraction * (-68.79282825647506 + 68.8061423421863);
	
	
  //alert(gps_x + ", " + gps_y);
  
  let tag = prompt("Enter tree tag number:", "");
  //document.getElementById('result').innerText += "update inventory_tree set latitude = " + gps_x + ", longitude = " + gps_y + " where tag = " + tag + ";\n"
  document.getElementById('result').innerText += "markMissingTree(" + gps_x + ", " + gps_y + ", '" + tag + "');\n"
  
  });
}
	</script>
</body>
</html>