{% extends 'inventory/base.html' %}

{% block content %}
		
		
		
	  <div class="row">
		<div class="col">
			
<span class="fs-4" style="font-family: 'Alegreya SC Medium'; font-size: 1.8rem !important">Arbotect Treatments and Recent Removals</span>

	
		
		<div id="map" style="height:800px; width:100%"></div>

	  </div>
	  <div class="mb-3"></div>
	  <div class="row">
		  <div class="col-12 col-md-6">
			  <h5>Legend</h5>
			  <div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
					   <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						   <path stroke="black"
							 stroke-width="1" fill="{{ pin_colors.blue }}"   d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
						  </svg> 
						  Treated with Arobtect Recently (since {{ cutoff_year }})</li>
						  
				  <li class="list-group-item">
					  <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						  <path stroke="black"
							stroke-width="1" fill="{{ pin_colors.green }}"   d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
						 </svg> 
						 Existing Tree</li>
				  <li class="list-group-item">
						 <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
							 <path stroke="black"
							   stroke-width="1" fill="{{ pin_colors.yellow }}"   d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
							</svg> 
							Existing Tree - DED supected or confirmed</li>
							<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
								<path stroke="black"
								  stroke-width="1" fill="{{ pin_colors.red }}" d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
							   </svg> 
							   Removed Recently (since {{ cutoff_year }})</li>
							   <li class="list-group-item">
							   <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
								   <path stroke="black"
									 stroke-width="1" fill="{{ pin_colors.purple }}" d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
								  </svg> 
								  Your current location (requires location access)</li>

							   
								 <li class="list-group-item">
									 <p>Trees that are <a href="{% url 'missing' %}">Unverified</a> are not included on this map.</p>
									 <p>Click on a tag to go to tree detail page</p>
								 </li>
				</ul>

			  </div>
		  </div>
	  </div>

{% endblock %}
	  
	  
	  {% block script %}
	  <script src="/static/mapping.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABHi5hOb62Ku_9JUf-_wJyvO4bpGCV6iU&callback=initMap&v=weekly"
		defer ></script>
	  <script>
	  
	  // Initialize and add the map
	  function initMap() {


		const map = new google.maps.Map(document.getElementById("map"), {
		  zoom: 16,
		  center: castineCenter
		});
	
		
		{% for tree in removed_trees %}
			createTreePin(map, "{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, colors.red);
		{% endfor %}
		{% for tree in treated_trees %}
			createTreePin(map, "{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, "{{ pin_colors.blue }}");
		{% endfor %}
		{% for tree in ded_trees %}
			createTreePin(map, "{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, "{{ pin_colors.yellow }}");
		{% endfor %}
		{% for tree in existing_trees %}
			createTreePin(map, "{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, "{{ pin_colors.green }}");
		{% endfor %}
		
	
		startShowingPhoneLocation(map);
	  }

	  
	  window.initMap = initMap;
	  </script>
	  {% endblock %}

	
</body>