{% extends 'inventory/base.html' %}

{% block content %}
		
		<div class="row">
			<div class="col">
				<h1>Trees Missing, Not Yet Seen in 2022, or No Location Info</h1>
			</div>
		</div>

	  <div class="row">
		<div class="col-12 col-lg-9">

			<div id="map" style="height:600px; width:100%"></div>

	 	   </div>
			<div class="col-12 col-lg-3">
				<div class="card">
					<ul class="list-group list-group-flush">
					  <li class="list-group-item">
						  <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
							  <path stroke="black"
								stroke-width="1" fill="#0F0"  d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
							 </svg> 
							 Existing Tree</li>
					 
								   <li class="list-group-item">
								   <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
									   <path stroke="black"
										 stroke-width="1" fill="#AAA"  d="M 1 16 a 15 15 0 1 1 30 0 a 15 15 0 1 1 -30 0" />
									  </svg> 
									  Missing or not yet confirmed</li>
				
					</ul>
				
				  </div>
			</div>
		  
	  </div>
		<div class="mb-3">
	
	  
	  
	  
	  <div class="row">
		  <div class="col">
	  
	  
			  <div class="table-responsive">
				  <table class="table" id="tree-inventory-table">
					  <thead>
	  
						  <tr>
							  <th>Tag #</th>
							  <th>GPS</th>
							  <th>Address</th>
							  <th>Location Remarks</th>
							  <th>Owner (N/F)</th>
							  <th>Public</th>
	
						  </tr>
	  
					  </thead>
	  
					  <tbody>
						  {% for tree in tree_list %}
						  
						  {% if tree.latitude is None or tree.gps_error_ft == -1 %}
	  
						  <tr {% if tree.is_removed %} class="table-danger" style="text-decoration:line-through;" {% endif %}>
							  <td {% if tree.tag.isnumeric %} data-order="{{ tree.tag }}" {% else %} data-order="1000" {% endif %}>
								  <a href="/inventory/tree/{{ tree.tag }}/">{{ tree.tag }}</a>
							  </td>
	  
							  <td>
								  {% if tree.gps_error_ft == -1 %}
								  Missing
								  {% elif tree.latitude > 0 %}
								  Located
								  {% else %}
								  <a href="/inventory/location/{{ tree.tag }}/">Add GPS</a>
								  {% endif %}
							  </td>
	  
							  <td data-order="'{{ tree.street_name }} {{ tree.street_number }}''">{{ tree.street_address }}</td>
	  
							  <td>{{ tree.location_remarks }}</td>
							  <td>{{ tree.property_owner }}</td>
	  
	  
							  <td>
								  {% if tree.is_public %}Public{% else %}Private{% endif %}
							  </td>

						  </tr>
						  
						  {% endif %}
						  
						  {% endfor %}
					  </tbody>
				  </table>
			  </div>
		  </div>
	  </div>

{% endblock %}
	  
	  
	  {% block script %}
<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABHi5hOb62Ku_9JUf-_wJyvO4bpGCV6iU&callback=initMap&v=weekly"
		defer
	  ></script>
	  <script>
	  
	  // Initialize and add the map
	  function initMap() {
	  
		const castine = { lat: 44.390492, lng: -68.804612 };
		

		function pinSymbol(color) {
			return {
				path: 'M -15, 0 a 15,15 0 1,1 30,0 a 15,15 0 1,1 -30,0', // largish circle, good for including text
				
		
				fillColor: color,
				fillOpacity: 1,
				strokeColor: '#555',
				strokeWeight: 1,
		
		   };
		}

		const map = new google.maps.Map(document.getElementById("map"), {
		  zoom: 15,
		  center: castine,
		});
		
		function createTreePin(tag, latitude, longitude, color) {
			 var marker = new google.maps.Marker({
			   position: { lat: latitude, lng: longitude },
			   label: tag,
			   title: tag,
			   url: '/inventory/tree/' + tag,
			   map: map,
			   icon: pinSymbol(color)	
			   
			 });
			

			
			
			google.maps.event.addListener(marker, 'click', function() {
				window.location.href = this.url;
			});
		}
		
		function markMissingTree(latitude, longitude, tag) {
			createTreePin(tag, latitude, longitude, "#AAA");
		}
		
		{% for tree in tree_list %}
		{% if tree.latitude > 0 %}

		{% if tree.is_removed %}
		{% elif tree.gps_error_ft == -1 %}
			createTreePin("{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, "#AAA");
		{% else %}
			createTreePin("{{ tree.tag }}", {{ tree.latitude}}, {{ tree.longitude}}, "#0F0");
		{% endif %}	
		
		{% endif %}	
		{% endfor %}
		
		
	
	  }

	  
	  window.initMap = initMap;
	  
	  
	  
	  var table = $('#tree-inventory-table').DataTable({
		  paging: false,
		  //searching: false,
		  info: true,
		  dom: '<"top"i>rt',
		  
	  });
	  
	  
	  </script>
	  {% endblock %}

	
</body>